@import 'variables';
@import "~bootstrap/scss/bootstrap";
/*===============RESET================*/
html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}
body {
    margin: 0;
}
main {
    display: block;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
}
pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}
a {
    background-color: transparent;
}
abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
}
b,
strong {
    font-weight: bolder;
}
code,
kbd,
samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
img {
    border-style: none;
}
button,
input,
optgroup,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
}
button,
input { /* 1 */
    overflow: visible;
}
button,
select { /* 1 */
    text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}
fieldset {
    padding: 0.35em 0.75em 0.625em;
}
legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
}
progress {
    vertical-align: baseline;
}
textarea {
    overflow: auto;
}
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}
details {
    display: block;
}
summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}
/*https://necolas.github.io/normalize.css/8.0.1/normalize.css*/
/*===============FIN RESET================*/
@font-face { font-family: 'JosefinSans-Bold';  src: url('/polices/JosefinSans-Bold.ttf'); }
@font-face { font-family: 'JosefinSans-BoldItalic';  src: url('/polices/JosefinSans-BoldItalic.ttf'); }
@font-face { font-family: 'JosefinSans-Italic';  src: url('/polices/JosefinSans-Italic.ttf'); }
@font-face { font-family: 'JosefinSans-Light';  src: url('/polices/JosefinSans-Light.ttf'); }
@font-face { font-family: 'JosefinSans-LightItalic';  src: url('/polices/JosefinSans-LightItalic.ttf'); }
@font-face { font-family: 'JosefinSans-Regular';  src: url('/polices/JosefinSans-Regular.ttf'); }
@font-face { font-family: 'JosefinSans-SemiBold';  src: url('/polices/JosefinSans-SemiBold.ttf'); }
@font-face { font-family: 'JosefinSans-SemiBoldItalic';  src: url('/polices/JosefinSans-SemiBoldItalic.ttf'); }
@font-face { font-family: 'JosefinSans-Thin';  src: url('/polices/JosefinSans-Thin.ttf'); }
@font-face { font-family: 'JosefinSans-ThinItalic';  src: url('/polices/JosefinSans-ThinItalic.ttf'); }

:root {
    --main: #394e63;
    --black : #212121;
    --yellow: #C38414;
    --yellow2: #f9ba48;
    --gold : linear-gradient(60deg, #7B5B25, #F9BA48, #C38414,#7B5B25);
    --webkit-gold : -webkit-gradient(linear, left top, right top, from(#7B5B25), color-stop(#F9BA48), color-stop(#C38414), to(#7B5B25));
    --fond: #FFEFBC;
    --marron1 : #5C4725;
    --marron2 : #7B5B25;
}
html, body {
    background-color: var(--main);
    color: var(--black);
    font-family: 'JosefinSans-Regular', sans-serif !important;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@media screen and (max-width: 767px)
{
    .container
    {
        max-width: calc(100% - 20px) !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px)
{
    .container
    {
        max-width: calc(100% - 30px) !important;
    }
}

@media screen and (min-width: 992px)
{
    .container
    {
        max-width: calc(100% - 50px) !important;
    }
}

@media screen and (max-width: 991px)
{
    .d-none-991 {
        display: none !important;;
    }
}

.josephin-bold
{
    font-family: 'JosefinSans-Bold' !important;
}

.josephin-bold-italic
{
    font-family: 'JosefinSans-BoldItalic' !important;
}

.color-white
{
    color: white !important;
}

.app
{
    /*position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;*/
}

/*------------NAVBAR------------*/

.breakout-navbar
{
    width: calc(100% - 60px);
    left: 30px;
    right: 30px;
    top: 20px;
    /*height: 60px;*/ /*Bloque le responsive*/
    border-radius: 50px;
    background-color: var(--black);
    box-shadow: 4px 8px 8px rgba(0,0,0,0.26);
    max-width: 2000px;

    /*position: relative;*/
    position: fixed;
    z-index: 1000;
    margin-left: auto;
    margin-right: auto;
}

.navbar-logo {
    position: absolute;
    top: -5px;
    left: 0;
    /*content: url("/img/icones-navbar/BreakOut_Logotype_Navbar.png");*/
    background-image: url("/img/icones-navbar/BreakOut_Logotype_Navbar.png") !important;
    background-color: var(--black) !important;
    background-repeat: no-repeat !important;
    background-size: 100px !important;
    background-position: center ;
    border-radius: 65px 0 0 65px ;
    width: 140px;
    height: 65px;
    border: 3px solid black;
}

@media screen and (max-width: 991px)
{
    .breakout-navbar
    {
        width: 95%;
        left: 2.5%;
        right: 2.5%;
    }
}

.nav-link{
    color: white !important;
    font-size: 11px;
    text-transform: uppercase;
    font-family: 'JosefinSans-Regular';
}

.nav-link:hover{
    color: var(--yellow2) !important;
}
.nav-link-icones-span
{
    margin-left: 25px !important;
    margin-top: 1px !important;
}
.nav-link-icones
{
    position: relative;
    margin-top: 4px;

}
.nav-link-icones:before
{
    content: '';
    position: absolute;
    margin-top: -2px;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    width: 18px;
    height: 18px;
}

.nav-link-info:before { background-image: url("/img/icones-navbar/alert.png") !important; }
.nav-link-home:before { background-image: url("/img/icones-navbar/home.png") !important; }
.nav-link-room:before { background-image: url("/img/icones-navbar/puzzle.png") !important; }
.nav-link-forum:before { background-image: url("/img/icones-navbar/chat.png") !important; }
.nav-link-shop:before { background-image: url("/img/icones-navbar/cart.png") !important; }
.nav-link-parameters:before { background-image: url("/img/icones-navbar/cog.png") !important; }
.nav-link-sound:before { background-image: url("/img/icones-navbar/speaker.png") !important; }
.navbar-left
{
    margin-left: 120px;
}

.navbar-profile-button {
    padding: 2px;
    font-size: 17px;
    color: #000;
    background: var(--webkit-gold);
    background: var(--gold);
    border-radius: 30px;
}
.navbar-profile-button > span {
    display: block;
    padding: 11px 30px 9px 30px;
    font-size: 11px;
    background: #212121;
    border-radius: 30px;
    color: white;
    font-family: 'JosefinSans-SemiBold';
    text-transform: uppercase;
}

.navbar-profile-button:hover > span {
    background: transparent;
    transition: 0.5s;
}

.navbar-button > button {
    margin: 1px 0 0;
    /*padding: 0;
    font-size: 1em;
    background: transparent;*/
    border: 0;
    border-radius: 50px;
    box-shadow: none;
    outline: 0;
    cursor: pointer;
    -webkit-appearance: none;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("/img/icones-navbar/open-menu.png") !important;
}


/*-----MODAL CONNEXION / PROFIL -----*/
.modal-backdrop
{
    z-index: 0;
}

.login-modal-dialog
{
    max-width: 750px !important;
}

.login-modal-content
{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: var(--main);
    background-clip: padding-box;
    border: 4px solid black;
    border-radius: 16px;
    outline: 0;
}

.login-modal-header
{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 4px 10px 2px 10px;
    background-color: #212121;
    border-bottom: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modal-cross
{
    height: 25px;
    width: 25px;
    background-size: contain !important;
    background: url(/img/icones/cross.png) no-repeat center;
    transform: rotate(45deg)
}

.login-modal-body
{
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.margin-modal-login-left
{
    width: calc(50% - 15px);
    margin: 10px 5px 0 10px;
}

.margin-modal-login-right
{
    width: calc(50% - 15px);
    margin: 10px 10px 0 5px;
}

.onglet-modal-login
{
    background: var(--fond);
    border-radius: 5px;
    padding-top: 3px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}

.onglet-modal-login>a
{
    color: #7B5B25 !important;
    font-size: 16px;
    font-family: 'JosefinSans-Bold';
    text-transform: uppercase;
    text-align: center;
}

.onglet-modal-login>.active
{
    color: var(--fond) !important;
    background-color: #7B5B25 !important;

    margin-top: -3px;
    height: 43px;
    padding-top: 11px;
}

.onglet-modal-login-body
{
    background: var(--fond);
    height: 370px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: -3px -3px 10px rgba(0,0,0,0.16);
}

.modal-login-logo
{
    max-width: 90%;
}

.modal-login-credentials-text
{
    font-family: 'JosefinSans-Bold';
    font-size: 16px;
    color: var(--main);
}

.input-login
{
    width: 100%;
    border-radius: 10px;
    border: 2px solid black;
    color: var(--yellow2);
    height: 40px;
    padding-left: 10px;
}

.input-login-2
{
    border-radius: 10px 0 0 10px;
    border: 2px solid black;
    color: var(--yellow2) !important;
    height: 40px;
    padding-left: 10px;
}

.input-login-btn
{
    border: 2px solid black;
    border-radius: 0 10px 10px 0;
    border-left: 1px solid black;
    background: var(--yellow2);
    font-family: 'JosefinSans-Bold';
    font-size: 18px;
    color: black;
    text-transform: uppercase;
    height: 40px;
}

.small-text-login
{
    font-family: 'JosefinSans-Regular';
    color: var(--yellow) !important;
    font-size: 16px;
}

.onglet-modal-register-body
{
    background: var(--fond);
    height: 370px;
    width: calc(100% - 20px);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: -3px -3px 10px rgba(0,0,0,0.16);
    margin-bottom: 10px;
}

.btn-parrainage-prepend
{
    height: 40px;
    background-color: transparent !important;
    border: 2px solid #1F3143;
    border-right: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.btn-parrainage-prepend>span
{
    background-color: transparent !important;
    border: none !important;
}

.btn-parrainage-prepend>span>img
{
   max-height: 25px;
}


.btn-parrainage
{
    background: none;
    height: 40px;
    border: 2px solid #1F3143;
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 180px;
}

.btn-submit-register
{
    border: 2px solid black;
    border-radius: 10px;
    background: var(--yellow2);
    font-family: 'JosefinSans-Bold';
    font-size: 18px;
    color: black;
    text-transform: uppercase;
    height: 40px;
    width: 100%;
    padding-top: 4px;
}

.lien-conditions
{
    color: #C38414 !important;
}

.btn-profile
{
    height: 45px;
    width: 45px;
    border: 4px solid #1F3143;
    border-radius: 13px;
    background: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    transition: 0.3s;
}

.btn-profile:hover
{
    background: #1F3143;
}

.btn-profile:hover>i
{
    color: var(--yellow);
}

.btn-profile>i
{
    color: var(--yellow2);
    font-size: 22px;
}


/*-----------ACCUEIL--------------*/
.breakout-bakground
{
    background: url("/img/wallpaper/BreakOut_Maze_Wallpaper.png") no-repeat;
    background-size: 100%;
    padding-top: 100px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.breakout-bakground:before
{
    content: '';
    background: rgba(57,78,99,0.80);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.breakout-body{
    position: relative;
    /*margin-top: 200px;*/
    width: calc(100% - 150px);
    background: var(--fond);
    margin-left: auto;
    margin-right: auto;
    max-width: 1900px;
}

.breakout-body-before
{
    position: relative;
    background: #1C2731;
    height: 40px;
    width: calc(100% - 148px);
    max-width: 1900px;
    border-radius: 10px 10px 0 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    color: white;
    padding-top: 8px;
    font-family: 'JosefinSans-Light';
    overflow: hidden;
}

@media screen and (max-width: 991px)
{
    .breakout-body {
        width: 95%;
    }

    .breakout-body-before {
        width: calc(95% - 2px);
    }
}

#carousel
{
    position: relative;
    width: calc(100% - 400px);
    max-width: 1800px;
    margin-top: 85px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 991px)
{
    #carousel
    {
        width: 90%;
    }

    .carousel__pagination
    {
        display: none;
    }
}

.liseret-rouge
{
    border: 3px solid #75101C;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 !important;
}

.btn-home-play
{
    position: absolute;
    top: -32px;
    z-index: 1;
    padding: 18px 40px 15px 40px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-family: 'JosefinSans-Bold';
    font-size: 28px;
    border: 1px solid #3C3C3C;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0, 0.5);
    background-size: 100% 200%;
    background-image: linear-gradient(to top, #80000B 0%, #f3071c 50%, #80000B 50%, #B3000F 100%);
    transition: 0.3s;
}

.btn-home-play:hover
{
    background-position: bottom center;
    transform: scale(1.05);
    cursor: pointer;
}


.btn-home-play:active
{
    transform: scale(1.10);
    background: linear-gradient(to top,#80000B, #B3000F);
    transition: 0.3s;
    box-shadow: 0 0 20px #B3000F;
}

.panneau-accueil
{
    background: var(--marron1);
    color: var(--yellow2);
    padding: 11px 20px 2px 20px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.50);
}

.panneau-accueil>h3
{
    font-family: 'JosefinSans-Bold';
    text-transform: uppercase;
    font-size: 18px;
}

@media screen and (max-width: 991px){
    .panneau-accueil
    {
        background: var(--marron1);
        color: var(--yellow2);
        padding: 12px 10px 0 10px;
        border-radius: 5px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.50);
    }

    .panneau-accueil>h3
    {
        font-family: 'JosefinSans-Bold';
        text-transform: uppercase;
        font-size: 16px;
    }
}

.carre-salle-accueil
{
    position: relative;
    height: 250px;
    width: 100%;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    border-radius: 10px 10px 0 0;
}

.carre-salle-accueil-apres
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    background: rgba(0,0,0,0.25);
    border-radius: 7px 7px 0 0;
    border: 2px solid black;
    overflow: hidden;
}

.carre-salle-accueil-apres>div>div>div>h2
{
    font-size: 1.4rem;
    font-family: 'JosefinSans-SemiBold';
    color: white;
    text-transform: uppercase;
}

.carre-salle-accueil-apres>div>div
{

}

.carre-salle-accueil-apres>div>div>div
{

}

.carre-salle-accueil-apres>div>div>div>a>button
{
    width: 90%;
    max-width: 400px;
    background: rgba(0,0,0,0.3);
    border: white 3px solid;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    color: white;
    font-family: 'JosefinSans-Bold';
    font-size: 16px;
    text-transform: uppercase;
    padding: 12px 10px 10px 10px;
    border-radius: 50px;
    height: 45px;
    margin: auto;
}

.carre-salle-accueil-apres>div>div>div>a>button:hover
{
    transition: 0.3s;
    background: rgba(0,0,0,0.6);
    font-size: 17px;
    cursor: pointer;
}

.carre-salle-accueil-footer
{
    width: 100%;
    background: var(--black);
    margin-top: -2px !important;
    height: 35px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}

.carre-salle-accueil-footer>div>div
{
    font-size: 14px;
    color: white;
    font-family: 'JosefinSans-SemiBold';
}

.cadre-explications
{
    position: relative;
    width: 100%;
    background: #CEB883;
    border-radius: 5px;
    border: 4px solid #7B5B25;
    text-align: center;
}

.cadre-explications-panneau
{
    position: absolute;
    height: 40px;
    top: -23px;
    background: #7B5B25;
    border: 4px solid #7B5B25;
    padding: 0px 20px 0px 20px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    overflow: hidden;
}

.cadre-explications-panneau>h1
{
    font-family: 'JosefinSans-Bold';
    font-size: 20px;
    color: white;
    margin-top: 6px;
}

@media screen and (max-width: 767px)
{
    .cadre-explications-panneau>h1
    {
        font-size: 16px;
    }
}

.sous-cadre-explications
{
    background: #DFCC97;
    border-radius: 10px;
}

.sous-cadre-explications>div>div>h3
{
    color: #7B5B25;
    font-family: 'JosefinSans-Bold';
    text-transform: uppercase;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.icones-explications-accueil>div:nth-child(1)>div:nth-child(1)
{
    height: 80px;
    width: 80px;
    border-radius: 100%;
    background: #7B5B25;
    display: flex;
}

.icones-explications-accueil>div>div>img
{
    margin: auto;
}


.icones-explications-accueil>div>div>p
{
    color: #7B5B25;
    font-family: 'JosefinSans-Bold';
    font-size: 18px;
    padding-top: 10px;
}

@media screen and (max-width: 767px)
{
    .icones-explications-accueil>div>div>p
    {
        font-size: 16px;
    }
}

.panneau-ligne-1
{
    position: relative;
}

.panneau-ligne-1>hr
{
    border: 1px solid #5C4725;
}


.panneau-ligne-1>div>div
{
    position: absolute;
    height: 40px;
    top: -23px;
    background: #5C4725;
    border: 4px solid #5C4725;
    padding: 0px 20px 0px 20px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    overflow: hidden;
}

.panneau-ligne-1>div>div>h2
{
    font-family: 'JosefinSans-Bold';
    font-size: 20px;
    color: var(--yellow2);
    margin-top: 6px;
    text-transform: uppercase;
    text-align: center;
}

.cadre-top-joueurs
{
    position: relative;
    height: 420px;
    width: 100%;
    background: #47443B;
    border: 4px solid #212121;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(black, 0.16);
    //overflow: hidden;
}

.cadre-top-joueurs>hr
{
    width: calc(100% - 20px);
    border: 1.5px solid #212121;
}

@media screen and (max-width: 1199px)
{
    .cadre-top-joueurs-middle
    {
        margin-top: 57px !important;
    }
}

.cadre-top-joueurs-header
{
    height: 110px;
    //background: blue;
    border-radius: 8px 8px 0 0;
    position: relative;
    overflow: hidden;
}

.cadre-top-joueurs-header-middle
{
    height: 130px;
    //background: green;
    border-radius: 8px 8px 0 0;
    position: relative;
    overflow: hidden;
}

.cadre-top-joueurs-header>div>div, .cadre-top-joueurs-header-middle>div>div
{
    position: absolute;
    bottom: 0;
    text-align: center;
}

.cadre-top-joueurs-header>div>div>div>div
{
    height: 35px;
    width: 90%;
    background: var(--black);
    font-family: 'JosefinSans-Bold';
    font-size: 18px;
    border-radius: 20px;
    padding-top: 3px;
    overflow: hidden;
}

.cadre-top-joueurs-header-middle>div>div>div>div
{
    height: 40px;
    width: 90%;
    background: var(--black);
    font-family: 'JosefinSans-Bold';
    font-size: 25px;
    border-radius: 20px;
    overflow: hidden;
}

.cadre-top-joueurs-header-middle>div>div>p, .cadre-top-joueurs-header>div>div>p
{
    font-family: 'JosefinSans-Regular';
    font-size: 10px;
    color: var(--yellow2);
    margin-bottom: 0 !important;
}

.top-medal-joueurs
{
    position: absolute;
    top: -35px;
    height: 70px;
    width: 70px;
    background: #212121;
    border-radius: 100%;
    text-align: center;
    z-index: 1;
}

.top-medal-joueurs>img
{
    width: 84px;
    margin-top: 4px;
    margin-left: -7px;
}

.top-medal-joueurs-middle
{
    position: absolute;
    top: -40px;
    height: 80px;
    width: 80px;
    background: #212121;
    border-radius: 100%;
    z-index: 1;
}

.top-medal-joueurs-middle>img
{
    width: 96px;
    margin-top: 5px;
    margin-left: -8px;
    z-index: 2;
}

.padding-991
{
    margin-bottom: 40px !important;
}

@media screen and (max-width: 1199px) {
    .padding-991
    {
        margin-bottom: 10px !important;
    }

    .bronze-991
    {
        margin-top: 50px !important;
    }
}

.cadre-top-joueurs-coupe
{
    height: 65px;
    text-align: center;
    margin-top: -10px;
}

.coupe-small
{
    color: var(--yellow2);
    font-size: 40px;
}

.coupe-big
{
    color: var(--yellow2);
    font-size: 50px;
}


.cadre-top-joueurs-body
{
    overflow: hidden;
}

.cadre-top-joueurs-body>h6
{
    font-family: 'JosefinSans-Bold';
    font-size: 16px;
    text-transform: uppercase;
    color: var(--yellow2);
}

.cadre-top-joueurs-body>div>p
{
    font-family: 'JosefinSans-Regular';
    font-size: 14px;
    color: white;
}

.cadre-top-joueurs-body>div>p>i, .cadre-top-joueurs-body>div>p>span
{
    color: var(--yellow2) !important;
}

.cadre-top-salles
{
    position: relative;
    height: 420px;
    width: 100%;
    background-color: transparent;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    border: 4px solid #7B5B25;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(black, 0.16);
    //overflow: hidden;
}

.cadre-top-salles-apres
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(33, 33, 33, 1));
    border-radius: 7px;
}

.cadre-top-salles-apres>div:nth-child(1)
{
    height: calc(100% - 70px);
    //background: rgba(red, 0.2);
}

.cadre-top-salles-apres>div:nth-child(2)
{
    height: 70px;
    //background: rgba(blue, 0.2);
}

.cadre-top-salles-apres>div:nth-child(2)>button
{
    width: 90%;
    background: rgba(0, 0, 0, 0.3);
    border: white 3px solid;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    color: white;
    font-family: "JosefinSans-Bold";
    font-size: 14px;
    text-transform: uppercase;
    padding: 9px 10px 10px 10px;
    border-radius: 50px;
    height: 38px;
    margin: auto;
}

.cadre-top-salles-apres>div:nth-child(2)>button:hover
{

    transition: 0.3s;
    background: rgba(0, 0, 0, 0.6);
    font-size: 15px;
    cursor: pointer;
}

.cadre-top-salles-apres>div:nth-child(1)
{
    text-align: center;
}

.cadre-top-salles-apres>div:nth-child(1)>div>h2
{
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "JosefinSans-SemiBold";
}
.top-salles-stars>p
{
    color: var(--yellow2);
    font-size: 16px;
}

.btn-sous-top
{
    background: var(--marron2);
    border: none;
    border-radius: 20px;
    padding: 5px 20px;
    max-width: 90%;
    color: white;
    font-family: "JosefinSans-Bold";
    font-size: 16px;
    transition: 0.3s;
}

.btn-sous-top:hover
{
    background: var(--marron1);
    font-size: 17px;
}
