/*===============RESET================*/
html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}
body {
    margin: 0;
}
main {
    display: block;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
}
pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}
a {
    background-color: transparent;
}
abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
}
b,
strong {
    font-weight: bolder;
}
code,
kbd,
samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
img {
    border-style: none;
}
button,
input,
optgroup,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
}
button,
input { /* 1 */
    overflow: visible;
}
button,
select { /* 1 */
    text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}
fieldset {
    padding: 0.35em 0.75em 0.625em;
}
legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
}
progress {
    vertical-align: baseline;
}
textarea {
    overflow: auto;
}
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}
details {
    display: block;
}
summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}
/*https://necolas.github.io/normalize.css/8.0.1/normalize.css*/
/*===============FIN RESET================*/
@font-face { font-family: 'JosefinSans-Bold';  src: url('/polices/JosefinSans-Bold.ttf'); }
@font-face { font-family: 'JosefinSans-BoldItalic';  src: url('/polices/JosefinSans-BoldItalic.ttf'); }
@font-face { font-family: 'JosefinSans-Italic';  src: url('/polices/JosefinSans-Italic.ttf'); }
@font-face { font-family: 'JosefinSans-Light';  src: url('/polices/JosefinSans-Light.ttf'); }
@font-face { font-family: 'JosefinSans-LightItalic';  src: url('/polices/JosefinSans-LightItalic.ttf'); }
@font-face { font-family: 'JosefinSans-Regular';  src: url('/polices/JosefinSans-Regular.ttf'); }
@font-face { font-family: 'JosefinSans-SemiBold';  src: url('/polices/JosefinSans-SemiBold.ttf'); }
@font-face { font-family: 'JosefinSans-SemiBoldItalic';  src: url('/polices/JosefinSans-SemiBoldItalic.ttf'); }
@font-face { font-family: 'JosefinSans-Thin';  src: url('/polices/JosefinSans-Thin.ttf'); }
@font-face { font-family: 'JosefinSans-ThinItalic';  src: url('/polices/JosefinSans-ThinItalic.ttf'); }

:root {
    --main: #394e63;
    --black : #212121;
    --yellow: #C38414;
    --yellow2: #F9BA48;
    --gold : linear-gradient(60deg, #7B5B25, #F9BA48, #C38414,#7B5B25);
    --webkit-gold : -webkit-gradient(linear, left top, right top, from(#7B5B25), color-stop(#F9BA48), color-stop(#C38414), to(#7B5B25));
    --fond: #FFEFBC
}
html, body {
    background-color: var(--main);
    color: var(--black);
    font-family: 'JosefinSans-Regular', sans-serif !important;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.app
{
    /*position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;*/
}
.breakout-navbar
{
    width: calc(100% - 60px);
    left: 30px;
    right: 30px;
    top: 20px;
    /*height: 60px;*/ /*Bloque le responsive*/
    border-radius: 50px;
    background-color: var(--black);
    box-shadow: 4px 8px 8px rgba(0,0,0,0.26);
    max-width: 2000px;

    /*position: relative;*/
    position: fixed;
    z-index: 1000;
    margin-left: auto;
    margin-right: auto;
}

.navbar-logo {
    position: absolute;
    top: -5px;
    left: 0;
    /*content: url("/img/icones-navbar/BreakOut_Logotype_Navbar.png");*/
    background-image: url("/img/icones-navbar/BreakOut_Logotype_Navbar.png") !important;
    background-color: var(--black) !important;
    background-repeat: no-repeat !important;
    background-size: 100px !important;
    background-position: center ;
    border-radius: 65px 0 0 65px ;
    width: 140px;
    height: 65px;
    border: 3px solid black;
}

.nav-link{
    color: white !important;
    font-size: 11px;
    text-transform: uppercase;
    font-family: 'JosefinSans-Regular';
}

.nav-link:hover{
    color: var(--yellow2) !important;
}
.nav-link-icones-span
{
    margin-left: 25px !important;
    margin-top: 1px !important;
}
.nav-link-icones
{
    position: relative;
    margin-top: 4px;

}
.nav-link-icones:before
{
    content: '';
    position: absolute;
    margin-top: -2px;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    width: 18px;
    height: 18px;
}

.nav-link-info:before { background-image: url("/img/icones-navbar/alert.png") !important; }
.nav-link-home:before { background-image: url("/img/icones-navbar/home.png") !important; }
.nav-link-room:before { background-image: url("/img/icones-navbar/puzzle.png") !important; }
.nav-link-forum:before { background-image: url("/img/icones-navbar/chat.png") !important; }
.nav-link-shop:before { background-image: url("/img/icones-navbar/cart.png") !important; }
.nav-link-parameters:before { background-image: url("/img/icones-navbar/cog.png") !important; }
.nav-link-sound:before { background-image: url("/img/icones-navbar/speaker.png") !important; }
.navbar-left
{
    margin-left: 120px;
}

.breakout-bakground
{
    background: url("/img/wallpaper/BreakOut_Maze_Wallpaper.png") no-repeat;
    background-size: 100%;
    padding-top: 100px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.breakout-bakground:before
{
    content: '';
    background: rgba(57,78,99,0.80);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.navbar-profile-button {
    padding: 2px;
    font-size: 17px;
    color: #000;
    background: var(--webkit-gold);
    background: var(--gold);
    border-radius: 30px;
}
.navbar-profile-button > span {
    display: block;
    padding: 11px 30px 9px 30px;
    font-size: 11px;
    background: #212121;
    border-radius: 30px;
    color: white;
    font-family: 'JosefinSans-SemiBold';
    text-transform: uppercase;
}

.navbar-profile-button:hover > span {
    background: transparent;
    transition: 0.5s;
}

.navbar-button > button {
    margin: 1px 0 0;
    /*padding: 0;
    font-size: 1em;
    background: transparent;*/
    border: 0;
    border-radius: 50px;
    box-shadow: none;
    outline: 0;
    cursor: pointer;
    -webkit-appearance: none;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("/img/icones-navbar/open-menu.png") !important;
}

.breakout-body{
    position: relative;
    /*argin-top: 200px;*/
    width: calc(100% - 250px);
    height: 200px;
    background: var(--fond);
    margin-left: auto;
    margin-right: auto;
    max-width: 1900px;
}

.breakout-body-before
{
    position: relative;
    background: #1C2731;
    height: 40px;
    width: calc(100% - 248px);
    max-width: 1900px;
    border-radius: 10px 10px 0 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    color: white;
    padding-top: 8px;
    font-family: 'JosefinSans-Light';
    overflow: hidden;
}

/*-----------ACCUEIL--------------*/

#carousel
{
    position: relative;
    width: calc(100% - 400px);
    max-width: 1800px;
    margin-top: 85px;
    margin-left: auto;
    margin-right: auto;
}

.liseret-rouge
{
    border: 3px solid #75101C;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 !important;
}

.btn-home-play
{
    background: linear-gradient(#B3000F, #80000B);
    position: absolute;
    top: -32px;
    z-index: 9999;
    color: white;
    padding: 18px 40px 15px 40px;
    text-transform: uppercase;
    font-family: 'JosefinSans-Bold';
    font-size: 28px;
    border: 1px solid #3C3C3C;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0, 0.5);
}


